.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.contact-container h2 {
  margin-bottom: 50px;
  font-size: 32px;
  color: #f64c72;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #242582;
  text-decoration: none;
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 300px;
  overflow: hidden;
}

.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #4b4eff;
}

.contact-icon {
  font-size: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact-container h2 {
    font-size: 24px;
  }

  .contact-card {
    width: 120px;
    height: 120px;
  }

  .contact-icon {
    font-size: 80px;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 10px;
    margin-bottom: 150px;
  }

  .contact-card {
    width: 100px;
    height: 100px;
  }

  .contact-icon {
    font-size: 60px;
  }
}
.contact-card {
  margin-bottom: 5px;
}
