#navbarTitel {
  font-size: 200%;
  color: #f64c72;
}
.navbar {
  color: white;
  padding-left: 20px;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.navbar li {
  transition: transform 0.3s ease;
}

.navbar li:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .navbar {
    color: white;
    padding-left: 50px;
    display: flex;

    align-items: center;
    background-color: #f64c72;
  }
}
