body {
  font-family: Arial, sans-serif;
  margin: 0%;
  padding: 0;
  background-image: url(../public/images/background.jpg);
  background-size: 120%;
  background-attachment: fixed;
  scroll-behavior: smooth;
  color: #333;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  body {
    background-image: none;
    background-color: #171856;
  }
}
